<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Full Footer Example</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
      <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  <footer>
    <div class="footer-container">

      <!-- Top Section -->
      <div class="footer-top">
        <div>
          <h4>Support</h4>
          <a href="#">Help Centre</a>
          <a href="#">Photography</a>
          <a href="#">Training support</a>
          <a href="#">Local Transportation</a>
          <a href="#">Display Texes</a>
        </div>
        <div>
          <h4>Hosting</h4>
          <a href="#">Wanderlust your home</a>
          <a href="#">AirCover for Hosts</a>
          <a href="#">Hosting resources</a>
          <a href="#">Community forum</a>
          <a href="#">Hosting responsibly</a>

        </div>
        <div>
          <h4>Wanderlust</h4>
          <a href="#">2025 Summer Release</a>
          <a href="#">Newsroom</a>
          <a href="#">New features</a>
          <a href="#">Careers</a>
          <a href="#">Investors</a>
        </div>
      </div>

      <!-- Bottom Section -->
      <div class="footer-bottom">
        <div class="footer-bottom-left">
          <span>© 2025 Wanderlust, Inc.</span>
          <a href="#">Privacy</a>
          <a href="#">Terms</a>
          <a href="#">Sitemap</a>
        </div>
        <div class="footer-bottom-right">
          <a href="#"><i class="fas fa-globe"></i> English (IN)</a>
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-x-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
  </footer>

</body>
</html>
